<!doctype html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /meta -->

    <!-- styles -->
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
    <!-- /styles -->

    <!-- favicons -->

    <!-- /favicons -->

    <!-- scripts -->
    <!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
    <!-- /scripts -->

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SmartPen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/mgautam98/shopcut">Source Code</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- navbar finish -->

    <div class="container" >
        <h1 style="margin:15px">Upload new File</h1>
        <form method=post enctype=multipart/form-data>
            <input  type=file name=file>
            <input type=submit class="btn btn-success" value=Upload>
        </form>
    </div>

</body>

</html>